/****************************************************
					CONTENT BOXES
***************************************************/
.content-box-lg{
	padding: 120px 0;
}
.content-box-md{
	padding: 100px 0;
}
.content-box-sm{
	padding: 90px 0;
}
.content-box-xm{
	padding: 30px 0;
}
.content-box-xm{
	padding: 10px 0px;
}

/******************************************************
					General Section
*****************************************************/

html,body{
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Condensed', sans-serif;
}

a,
a:hover,
a:focus{
	text-decoration: none;
}

.heading{
	text-transform: uppercase;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
}



.p-t-30{
	padding-top: 30px!important;
}
.p-t-40{
	padding-top: 40px!important;
}
.p-t-50{
	padding-top: 50px!important;
}
.p-t-60{
	padding-top: 60px!important;
}
.p-t-70{
	padding-top: 70px!important;
}
.p-t-80{
	padding-top: 80px!important;
}
.p-t-90{
	padding-top: 90px!important;
}
.p-t-100{
	padding-top: 100px!important;
}
.m-l-10{
	margin-left: 10px!important;
}
.m-l-20{
	margin-left: 20px!important;
}
.m-l-30{
	margin-left: 30px!important;
}
.m-l-40{
	margin-left: 40px!important;
}
.m-l-50{
	margin-left: 50px!important;
}
.m-l-60{
	margin-left: 60px!important;
}
.m-l-70{
	margin-left: 70px!important;
}
.m-l-80{
	margin-left: 80px!important;
}
.m-l-90{
	margin-left: 90px!important;
}
.m-l-100{
	margin-left: 100px!important;
}
.m-l-110{
	margin-left: 110px!important;
}
.m-l-120{
	margin-left: 120px!important;
}
.m-l-130{
	margin-left: 130px!important;
}
.m-l-140{
	margin-left: 140px!important;
}
.m-l-150{
	margin-left: 150px!important;
}
.m-l-160{
	margin-left: 160px!important;
}
.m-l-170{
	margin-left: 170px!important;
}
.m-l-510{
	margin-left: 510px!important;
}
.m-b-10{
	margin-bottom: 10px!important;
}
.m-b-20{
	margin-bottom: 20px!important;
}
.m-b-30{
	margin-bottom: 30px!important;
}
.m-b-40{
	margin-bottom: 40px!important;
}
.m-r-10{
	margin-right: 10px!important;
}
.m-r-20{
	margin-right: 20px!important;
}
.m-r-30{
	margin-right: 30px!important;
}
.m-r-40{
	margin-right: 40px!important;
}
.m-r-50{
	margin-right: 50px!important;
}
.m-r-60{
	margin-right: 60px!important;
}
.m-r-70{
	margin-right: 70px!important;
}
.m-r-80{
	margin-right: 80px!important;
}
.m-r-90{
	margin-right: 90px!important;
}

.m-t-10{
	margin-top: 10px!important;
}
.m-t-20{
	margin-top: 20px!important;
}
.m-t-30{
	margin-top: 30px!important;
}
.m-t-40{
	margin-top: 40px!important;
}
.m-t-50{
	margin-top: 50px!important;
}
/******************************************************
					Hr  style
*****************************************************/
hr{
	width: 30px;
	background-color: #34C6D3;
	height: 3px;
}

/******************************************************
					General  Buttons
*****************************************************/
.white-bordered{
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	padding: 12px 20px;
	border: 2px solid white;
	display: inline-block;
	font-size: 16px;
	background: #41464B;
	border-radius: 0;
	margin-top: 10px;
}
.white-bordered:hover{
	color: #41464B;
	background: #FFF;
}

.blue-bordered{
	color: #34C6D3;
	font-family: 'Roboto Condenced',sans-serif;
	text-transform: uppercase;
	padding: 12px 18px;
	border: 2px solid #34C6D3;
	display: inline-block;
	font-size: 15px;
	background: #FFF;
	border-radius: 0;
	margin-top: 20px;
}
.blue-bordered:hover{
	color: #FFF;
	background: #34C6D3;
}
#about h3{
	font-size: 28px;
	font-weight:700;
}
/****************************************************
				TWEAKING BOOTSTRAP	
***************************************************/
.row.no-gutters [class*=col-]{
	padding: 0;
}

/******************************************************
					Home Section
*****************************************************/
#Home{
	height: 100%;
/*	background: none;*/
}
#bg-home-img{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	background: url("..animate)")
/*
	width: 100%;
	height: 100vh;
*/
}
#home-content{
/*	z-index: 1;*/
	width: 100%;
	height: 100%;
	display: table;
	color: #FFF;
}
#home-content-inner{
	display: table-cell;
	vertical-align: middle;
/*	font-size: 55px;*/
}
#home-heading{
	font-size: 54px;
	font-weight: bold;
	font-family: 'Roboto',sans-serif;
}

/******************************************************
					Services Section
*****************************************************/
#services{
	width: 100%;
	height: 490px;
	background: #FFF;
	padding-top: 50px;
}
#services .container{
	text-align: center;
}

/*
#services hr{
	width: 30px;
	background-color: #34C6D3;
	height: 3px;
}
*/
#services .section-common{
	width: 300px;
	height: 80px;
/*	box-shadow: 0 0 10px rgba(0,0,0,0.10);*/
/*	display: inline-block;*/
/*	background: gray;*/
	display: flex;
	justify-content: space-between;
}
#services .section-part-one{
	width: 100px;
	height: 80px;
	display: inline-block;
	line-height: 100px;
	color: #34C6D3;
}
#services .section-part-two{
	width: 200px;
	height: 80px;
	display: inline-block;
}
#services .section-part-heading{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left;
	margin-left: 13px;
}
.section-para{
	margin-bottom: 10px;
	color: #F5F5F5;
}
#services .section-part-one:hover{
	background:#34C6D3;
	color: #FFF;
}
/******************************************************
					About Section
*****************************************************/
#about{
	width: 100%;
	height: 100%;
	background:url('../img/about/bg-about.jpg')no-repeat fixed center;
	background-size: cover;
	overflow: hidden;
	
/*
	border-left: solid 300px #Fc3;
	border-top: solid 700px #F4F4F4;
*/
}
#about .col-md-5{
	background: #FFF;
	height: 100vh;
	display: flex;
}
#about .col-md-7{
	border-left: solid 200px #FFF;
	border-top: solid 660px transparent;
}
#about .about-desc{
	width: 400px;
	height: 340px;
/*	box-shadow: 0 0 10px rgba(0,0,0,0.6);*/
/*	display: table-cell;*/
/*	vertical-align: middle;*/
	justify-content: center;
	margin-top: 120px;
	margin-left: 40px;
}
#about .content-box-lg{
	padding: 0;
}
#about p{
	padding-left: 60px;
	font-size: 15px;
	color: #64707B;
}
#about hr{
	width: 30px;
	height: 3px;
	color:	background:#34C6D3;
 
}
#about .col-md-5{
	padding-top: 30px;	
}

/******************************************************
					work Section
*****************************************************/
#work{
	width: 100%;
	height: 100%;
	background: #FFF;
/*	overflow: hidden;*/
}
#work .inner-div{
	overflow: hidden;
}
#work .heading h3{
	padding-top: 30px;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 30px;
}

#tp{
	background: #FFF;
	height: 800px;
}
#work .inner-div:hover img{
    transform: scale(1.2);
}
.inner-div img{
	transition: all .4s linear;
	cursor:pointer;
}
/******************************************************
					team Section
*****************************************************/
#team{
	width: 100%;
	background:#FFF;
}
#team #team-contanier{
	position: relative;
}
#team .p-heading{
	display: inline-block;
}
#team .p-heading{
	font-size: 15px;
	color: #34C6D3;
	letter-spacing: 1px;
	font-weight:bold;
}
#div.container-fliud{
	overflow: hidden;
}
#team .h3-heading{
	font-weight: 700;
	letter-spacing: 2px;
}
li{
	list-style: none;
	display: inline-block;
}
#team-container .team-member .social-icons ul li i{
	display: inline-block;
}
#team-container .team-member .social-icons .fb-icon{
	display: inline-block;
}
#team-container .team-member .social-icons .twitter-icon{
	display: inline-block;
}
#team-container .team-member .social-icons .google-plus-icon{
	display: inline-block;
}
#team-container .team-member .social-icons li i{
	display: inline-block;
	font-size: 16px;
}
#team .social-icons li i{
	display: inline-block;
	color: gray;
}
#team .social-icons li i:hover{
	color: #34C6D3;
}
#team-container .owl-theme .owl-dots[class*=owl-]{
	font-size: 40px;
	color:#34C6D3;
	margin: 0;
}
/******************************************************
					Customer Section
*****************************************************/
#customer{
	background: url("../img/customer/bg-testimonials.jpg")no-repeat fixed center;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#customer .heading{
	color: #FFF;
}

#customer .section img{
	width: 125px;
	margin: 0 auto;
}
#customer .content-wrapper{
	margin: 0 200px;
}
#customer h3{
	font-size: 18px;
	font-family: 'Times',serif;
	font-style: italic;
	color: #FFF;
	text-align: center;
	line-height: 20px;
}
.h4-heading{
	color: #FFF;
	font-size: 16px;
}
#customer p{
	color: #F4F4F4;
	font-size: 18px;
	font-family: 'Roboto Condensed',sans-serif;
	
}
#sections-wrapper .content-wrapper{
	position: relative;
/*	overflow: hidden;*/
}


/******************************************************
					Pricing  Section
*****************************************************/

#pricing{
	width: 100%;
/*	height: 100%;*/
	background: #FFF;
}
#pricing .pricing-table .type h4{
	padding: 5px 15px;
	color: #FFF;
	background: #34C6D3;
	display: inline-block;
}
.pricing-table{
	border: 3px solid #34C6D3;
	background: #FFF;
	width: 100%;
	height: 100%;
} 
.price h2 p{
	font-size: 60px;
	font-weight: 700;
	margin: 0;
}
.pricing-table .price h2{
	position: relative;
}
.price .doller{
	display: inline-block;
	font-size: 30px;
    font-weight: 100;
    position: absolute;
    top: -10px;
    left: 210px;
}

ul li{
	display: block;
	line-height: 30px;
	font-weight: 200;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 16px;
	color: #64707B;
}
ul{
	padding: 0;
}
#pricing .pricing-table a{
	margin-bottom: 50px;
	font-family: 'Roboto Condensed',sans-serif;
}


#pricing .middle-card{
	background: #34C6D3;
	color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
	transform: translateY(-40px);
}

#pricing .middle-card a{
	border: 3px solid #FFF;
	background: #34C6D3;
	color: #FFF;
}
#pricing .middle-card a:hover{
	background: #FFF;
	color: #64707B;
}


/******************************************************
					stats  Section
*****************************************************/
#stats{
	width: 100%;
	height: 100%;
	background: url("../img/stats/bg-stats.jpg")no-repeat  fixed center;
	background-size: cover;
	position: relative;
}
 #stats #stats-overlay{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#stats .heading{
	color: #FFF;
}
#stats .stats-item i{
	color: #34C6D3;
}
#stats .stats-item h3,
#stats .stats-item span,
#stats .stats-item p{
	color: #FFF;
	text-transform: uppercase;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
}

#stats .stats-item h3,
#stats .stats-item span{
	font-size: 34px;
}

#stats .first-section{
	margin-bottom: 60px;
}
/******************************************************
					clients  Section
*****************************************************/
#client{
	width: 100%;
/*	height: 100%;*/
	background: #FFF;
}

/******************************************************
					contact  Section
*****************************************************/
#contact{
	width: 100%;
/*	height: 100%;*/
	background: #41464B;
	color: #FFF;
	font-family: 'Roboto Condensed',sans-serif;
	z-index: -1;
}
#contact h3{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
#contact p{
	letter-spacing: 1px;
	font-size: 16px;
	font-weight:normal;
	color: #F4F4F4;
/*	font-weight: 300;*/
}

#contact .contact-info{
	background: url('../img/contact/world-map.png')no-repeat;
	background-size: contain;
	width: 400px;
	height: 400px;
	margin-top: 30px;
}

#contact .contact-info p{
	margin-bottom: 0;
}
#contact .contact-info h4{
	letter-spacing: 1px;
}
#contact .contact-info .section-1{
	margin-bottom: 30px;
}
#contact .contact-info .section-1 span{
	color: #F4F4F4;
}
#contact .contact-info .section-3 .social-icons{
	display: inline-block;
}
#contact .contact-info .section-3 .social-icons li{
	display: inline-block;
	font-size: 16px;

}
#contact .contact-info .section-3 .social-icons li i{
		color: #FFF;
		padding-right: 30px;
		padding-top: 30px;
}
#contact .contact-info .section-3 .social-icons li i:hover{
	color: #34C6D3;
}
#contact .input-box{
	display: block;
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 8px 10px;
	margin-bottom: 20px;
	text-transform: capitalize;
	border: 1px solid #FFF;
}
#contact .text-area{
	display: block;
	width: 100%;
	height: 85px;
	background: transparent;
	padding: 8px 10px;
	border: 1px solid #FFF;
}

#contact #send-btn a{
	padding: 12px 22px;
}