* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.gray{
    color: rgba(0,0,0,0.6)!important;
}
.hr-outer{
	width: 170px;
	height: 2px;
	background: #F1F1F1;
}
.hr-inner{
	width: 50px;
	height: 2px;
	background:#7db73f;
/*	z-index: 99;*/
}
.container-standard{
    width: 600px;
    margin: 0 auto;
}
.padding-small{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.icon-size{
    font-size: 24px;
}

.icon-size-small{
    font-size: 15px;
    color: rgba(255,255,255);
}

.white{
    color: rgba(255,255,255);
}
.relative{
    position: relative!important;
}
.sub-text{
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
.padding-large{
    padding: 59px;
}
.row{
    width: 100%!important;
}
.bold-text{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;

}

.container-lander {
    height: 700px;
}

.float-left {
    float: left;
}

.mt-6 {
    margin-top: 80px;
}

.ml-6 {
    margin-left: 50px;
}

text-decoration-none {
    text-decoration: none;
}

/*General Classes Started*/

.shadow-large-spread {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8)
}

.shadow-light-spread {
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3)
}

ul > li {
    list-style: none;
}

ul > li > a {
    font-family: 'Lato';
}

.center {
    margin: 0 auto;
}

.green-color{
    color: #7db73f;
}
.green {
    background-color: #7db73f;
}

.black {
    background-color: black;
}

.theme-player-property {
    font-family: 'Cedarville Cursive';
    color: #7db73f;
    font-size: 18px;
}

.white-text {
    color: white;
}

.highlight {
    content: '';
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 1.5px;
    background-color: #7db73f;

}

.button-green {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: #7db73f;
    border-radius: 34px;
    text-align: center;
    color: white;
    font-family: 'Lato';
}

.divider .highlight-one {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.divider .highlight-two {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.section-header {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
}

.button-black {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: black;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';
}

.divider {
    position: relative;
    margin-top: 120px;
    content: '';
    width: 120px;
    height: .8px;
    /*    background-color: black;*/

}

.button-white {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: white;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';

    display: inline-block;
    width: 75px;
    height: 27px;
    background-color: white;
    color: black;
    border-radius: 34px;
}

.button-border {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 120px;
    line-height: 30px;
    border-radius: 34px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Lato';
    border: solid .7px #7db73f;


}

.button-border:hover{
    background-color: #7db73f;
    color: white;
}
.text-deco-none{
    text-decoration: none;
}

/*General Classes Ended*/



/*Header Section CSS*/
.header {
    width: 100%;
    height: 60px;
    position: relative;
}

.navigation{
    margin-left: 220px;
}
.navigation > ul > li {
    display: inline-block;
    /*    width: 128px;*/
    height: 60px;
    /*    line-height: 60px;*/
    padding-left: 5px;
    padding-right: 5px;
    line-height: 60px;
}

.navigation > ul > li > a {
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.navigation > ul > li:hover {
    background-color: white;
    transition: all .2s ease-in;
    cursor: pointer;
}

.navigation > ul > li:hover a {
    color: black;
    transition: all .2s ease-in;
}

.logo {
    position: absolute;
    width: 180px;
    height: 110px;
    line-height: 100px;
    background-color: white;
    /*    margin: 25%;*/
}

.logo > img {
    position: absolute;
    top: 20%;
    left: 20%;
}

.phone > span {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #7db73f;
    width: 50px;
    height: 50px;
}

.number > span {
    display: inline-block;
    color: white;
}

.book-button {
    position: absolute;
    top: 13%;
    right: 15%;
}

.book-button:hover a {
    background-color: white;
    color: black;
    transition: all .2s ease-in;
}

.lander-page {
    position: relative;
    height: 700px;
}

.info-tab{
/*    padding: 30px;*/
    height: 160px;
    position: absolute;
    bottom: 0;
    width: 51.2%;
}

.header-txt{
    margin-top: 100px;
    margin-left: 50px;
}

.header-image{
    position: relative;
}
.header-image-over{
    position: absolute;
    top: 100px;
    right: 0;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.gray{
    color: rgba(0,0,0,0.6)!important;
}
.hr-outer{
	width: 170px;
	height: 2px;
	background: #F1F1F1;
}
.hr-inner{
	width: 50px;
	height: 2px;
	background:#7db73f;
/*	z-index: 99;*/
}
.container-standard{
    width: 600px;
    margin: 0 auto;
}
.padding-small{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.icon-size{
    font-size: 24px;
}

.icon-size-small{
    font-size: 15px;
    color: rgba(255,255,255);
}

.white{
    color: rgba(255,255,255);
}
.relative{
    position: relative!important;
}
.sub-text{
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
.padding-large{
    padding: 59px;
}
.row{
    width: 100%!important;
}
.bold-text{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;

}

.container-lander {
    height: 700px;
}

.float-left {
    float: left;
}

.mt-6 {
    margin-top: 80px;
}

.ml-6 {
    margin-left: 50px;
}

text-decoration-none {
    text-decoration: none;
}

/*General Classes Started*/

.shadow-large-spread {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8)
}

.shadow-light-spread {
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3)
}

ul > li {
    list-style: none;
}

ul > li > a {
    font-family: 'Lato';
}

.center {
    margin: 0 auto;
}

.green-color{
    color: #7db73f;
}
.green {
    background-color: #7db73f;
}

.black {
    background-color: black;
}

.theme-player-property {
    font-family: 'Cedarville Cursive';
    color: #7db73f;
    font-size: 18px;
}

.white-text {
    color: white;
}

.highlight {
    content: '';
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 1.5px;
    background-color: #7db73f;

}

.button-green {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: #7db73f;
    border-radius: 34px;
    text-align: center;
    color: white;
    font-family: 'Lato';
}

.divider .highlight-one {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.divider .highlight-two {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.section-header {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
}

.button-black {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: black;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';
}

.divider {
    position: relative;
    margin-top: 120px;
    content: '';
    width: 120px;
    height: .8px;
    /*    background-color: black;*/

}

.button-white {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: white;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';

    display: inline-block;
    width: 75px;
    height: 27px;
    background-color: white;
    color: black;
    border-radius: 34px;
}

.button-border {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 120px;
    line-height: 30px;
    border-radius: 34px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Lato';
    border: solid .7px #7db73f;


}

.button-border:hover{
    background-color: #7db73f;
    color: white;
}
.text-deco-none{
    text-decoration: none;
}

/*General Classes Ended*/



/*Header Section CSS*/
.header {
    width: 100%;
    height: 60px;
    position: relative;
}

.navigation{
    margin-left: 220px;
}
.navigation > ul > li {
    display: inline-block;
    /*    width: 128px;*/
    height: 60px;
    /*    line-height: 60px;*/
    padding-left: 5px;
    padding-right: 5px;
    line-height: 60px;
}

.navigation > ul > li > a {
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.navigation > ul > li:hover {
    background-color: white;
    transition: all .2s ease-in;
    cursor: pointer;
}

.navigation > ul > li:hover a {
    color: black;
    transition: all .2s ease-in;
}

.logo {
    position: absolute;
    width: 180px;
    height: 110px;
    line-height: 100px;
    background-color: white;
    /*    margin: 25%;*/
}

.logo > img {
    position: absolute;
    top: 20%;
    left: 20%;
}

.phone > span {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #7db73f;
    width: 50px;
    height: 50px;
}

.number > span {
    display: inline-block;
    color: white;
}

.book-button {
    position: absolute;
    top: 13%;
    right: 15%;
}

.book-button:hover a {
    background-color: white;
    color: black;
    transition: all .2s ease-in;
}

.lander-page {
    position: relative;
    height: 700px;
}

.info-tab{
/*    padding: 30px;*/
    height: 160px;
    position: absolute;
    bottom: 0;
    width: 51.2%;
}
/*
#about .col-md-5{
	background: url("images/bg-cut-large.png")no-repeat center;
	background-size: cover;
}
*/

#home{
	background: #F4F4F4;
}
#home .card{
	background: #FFF;
}
#home .card p,
#home .card h4{
	padding-left:10px; 
}
#content-wrapper .owl-theme .owl-nav[class*=owl-]{
	font-size: 40px;
	color:green;
	margin: 0;
	background: black;
}
.owl-theme .owl-nav [class*=owl-]{
	color: #FFF;
	background: black;
	border-radius: 0;
	padding: 10px 15px;
}
.owl-carousel .owl-stage-outer{
	position: relative;
}
.owl-theme .owl-nav{
	position: absolute;
	top: 201px;
	left: 125px;
}

#home .left-section{
	background: #FFF;
	padding: 0;
	padding-bottom: 30px;
}
#home .left-section p,
#home .left-section h4{
	padding-left: 10px;
}
#home .left-section p{
	color: black;
}
#home row{
	display
}
#home .col-md-6{
/*	background: #FFF;*/
/*	width: 100%;*/
/*	height: 400px;*/
/*	padding: 0;*/
	padding-left: 40px;
}
.hr-outer{
	width: 170px;
	height: 2px;
	background: #F1F1F1;
}
.hr-inner{
	width: 50px;
	height: 2px;
	background:#7db73f;
	z-index: 99;
}
#home h5{
	font-size: 20px;
}
#home .para{
	font-size: 12px;
	font-family: sans-serif;
	text-align:justify;
}
.inner-div{
	color: #7db73f;
	font-style: italic;
	font-size: 12px;
	border-left: 3px solid #7db73f;
}
.inner-div p{
	line-height: 20px;
	padding-left: 20px;
}
#home-btn .green-bordered{
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px 34px;
	border: 2px solid #7db73f;
	display: inline-block;
	font-size: 16px;
	background: transparent;
	border-radius: 30px;
	margin-top: 10px;
	margin-right: 30px;
}
#home-btn .btn-text{
	text-transform: capitalize;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
}
#home-btn .download-icon{
	color: #7db73f;
	display: inline-block;
}
#home-btn p{
	display: inline-block;
	color: black;
	font-family: sans-serif;
	font-size: 12px;
	margin-left: 10px;
}
/****************************************************
					CLient Section
***************************************************/
#client{
	width: 100%;
	height: 100%;
	position: relative;
	background:url('images/Home_section/background.jpg')no-repeat fixed center;
	background-size: cover;
	overflow: hidden;
	
/*
	border-left: solid 300px #Fc3;
	border-top: solid 700px #F4F4F4;
*/
}
#client .container row{
	position: relative;
}

#overlay{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
/*	z-index: 9999;*/
}
#tp{
	width: 100%;
	height: 900px;
	background: #F4F4F4;
}
#client p{
	color: #7db73f;
}
#client h2{
	color: #FFF;
}
.right-side{
	z-index: 9999;
}

#client .right-side h5{
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	line-height: 20px;
}
#client .counter{
	color: #FFF;
	font-size: 32px;
}
#client .counter-text{
	color: rgba(255,255,255,0.5);
	font-size: 12px;
}

#client divider{
	display: flex;
	align-items: center;
}
.divider .hr-outer{
	width: 100%;
	height: 63px;
	background: #F1F1F1;
	display: inline-block;
	
}
.divider .hr-inner{
	width: 65%;
	height: 63px;
	background:#7db73f;
	z-index: 99;
	color: #FFF;
	line-height: 63px;
	display: inline-block;
	padding-top: 10px;
}
#client .right-side .divider .hr-inner .txt{
	font-size: 16px;
	color: #FFF;
	margin-left: 36px;
	margin-right: 0;
	font-weight: 700;
}
#client .right-side .divider .txt-outer{
	display: inline-block;
	color: black;
	padding-top: 10px;
	margin-left: 10px;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
}
.left-side{
	z-index: 9999;
	background: #FFF;
	margin-right: 30px;
	
}
#client .right-side .divider .hr-outer .cal-icon{
	color: #7db73f;
	margin-left: 15px;
} 
#client .imgs-client{
	width: 80px;
	height: 80px;
	margin:0 auto;
}
#client .heading{
	font-size: 16px;
}
#client .green-para{
	color: #7db73f;
	font-size: 12px;
}
#client .quote-text{
	font-size: 12px;
	padding: 0 36px;
	line-height: 20px;
	font-family: sans-serif;
	color:black;
	padding-bottom: 63px;
}
#card-wrapper .owl-theme .owl-nav[class*=owl-]{
	font-size: 40px;
	color:#7db73f;
	margin: 0;
	background: black;
}
#card-wrapper .owl-theme .owl-nav [class*=owl-]{
	color: #FFF;
	background: black;
	border-radius: 0;
	padding: 10px 15px;
}
#client .owl-carousel .owl-stage-outer{
	position: relative;
}

#client .owl-theme .owl-nav{
	position: absolute;
	top: 299px!important;
	left: 125px;
}





/****************************************************
					section two
***************************************************/
#section-two{
	background: #7db73f;
	width: 100%;
/*	height: 200px;*/
	z-index: 9999;
}
#section-two .inner-sections{
	font-size: 40px;
	color: #FFF;
	display: inline-block;
}
#section-two .inner-sections .icon-div i{
/*	background: #FFF;*/
	padding-top: 40px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	display: inline-block;
}
#section-two .inner-sections .inner-txt{
	font-size: 12px;
	color: #FFF;
	margin-top: 40px;
}

#section-two .owl-theme .owl-nav[class*=owl-]{
	font-size: 40px;
	color:#7db73f;
	margin: 0;
/*	background: black;*/
}
#section-two .owl-theme .owl-nav [class*=owl-]{
	color: #FFF;
	background: black;
	border-radius: 0;
	padding: 10px 15px;
	margin-right: 5px;
}
#section-two .owl-carousel .owl-stage-outer{
	position: relative;
}

#section-two .owl-theme .owl-nav{
	position: absolute;
	top: 52px!important;
	left: 1028px;
}
/****************************************************
				Visit Section
***************************************************/
#visit .hr-outer{
	padding-left: 64px;
	margin-left: 462px;
}
#visit{
	background: #F4F4F4;
	font-family: sans-serif;
}
#visit h5{
	color: #7db73f;
	font-family: sans-serif;
}
#visit  .upper-para{
	margin-left: 165px;
	margin-right: 123px;
	margin-top: 30px;
}

#visit img{
	width: 276px;
	height: 210px;
}
#visit i{
	margin-left: 10px;
}
#visit .card{
	background: #FFF;
/*	width: 100%;*/
	display: inline-block;
	padding: 
}
#visit .card-body{
	padding-left: 15px;
	padding-bottom: 20px;
/*	padding-right: 20px;*/
}
#visit .full-card{
	display: inline-block;
/*	margin-right: 20px;*/
}
#visit .owl-theme .owl-nav[class*=owl-]{
	font-size: 40px;
	color:#7db73f;
	margin: 0;
/*	background: black;*/
}
#visit .owl-theme .owl-nav [class*=owl-]{
	color: #FFF;
	background:#7db73f;
	border-radius: 0;
	padding: 10px 15px;
	margin-right: 5px;
}
#visit .owl-carousel .owl-stage-outer{
	position: relative;
}

#visit .owl-theme .owl-nav{
	position: absolute;
	top: 301px!important;
	left: 491px;
}
/****************************************************
					footer Section
***************************************************/
.footer-font{
    font-size: 12px;
    color: #8E8E8E;
}
.clr-green{
    color: #7DB73F;
}

.mg-bottom-30{
    margin-bottom: 30px;
}
.mg-bottom-15{
    margin-bottom: 15px;
}

.social-icons{
    font-size: 20px;
}

.mg-top-25{
    margin-top: 25px;
}









.villas{
    width: 100%;
}
.villa{
    width: 700px !important;
    margin: 0 auto;
}
.card-text > span > i{
    color: #7DB73F;
    
}
.booking{
    background-color: #f4f4f4;
}
.view{
    border-radius: 35px;
}

.avail{
    border-radius: 35px;
    color: black;
}

.pagination{
    margin: 30px auto;
}
.page-num{
    color: black;
    border: none;
    background: none;
    border: solid 2px #f1f1f1;
    border-radius: 50%;
    margin: 0 10px;
    padding: 6px 12px;
}

.page-num:hover{
    background-color: #7DB73F;
}    
.page-ctrl{
    color: white;
    background: #7DB73F;
    margin: 0 5px;
    border-radius: 30px !important;
    width: 100px;
    text-align: center;
}
.page-ctrl:hover{
    color: white;
    background: #7DB73F;
}

.footer{
    width: 100%;
}
.footer-green{
    background: #7DB73F;
    width: 100%;
    height: 100px;
    text-align: center;
}
.footer-green-content{
    padding-top: 30px;
}
.news{
    display: inline-block;
/*    margin-top: 30px;*/
    margin-right: 50px;
}
.newsletter{
    color: #FFF;
    margin-right: 30px;
}

.newsletter > i{
    color: none;
}
.mail{
    display: inline-block;
/*    margin-top: 30px;*/
    margin-right: 50px;
}
.email{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #7DB73F;
    color: white;
    border: solid 0.1px rgba(255, 255, 255, 0.2);
    ::placeholder{
        color: rgba(255, 255, 255, 0.9);
    }
}
.sign{
    display: inline-block;
    margin-left: 30px;
}

.sign-btn{
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 500;
}

.footer-black{
    background-color: #212121;
    width: 100%;
/*    height: 100px;*/
}

.gallery-images{
    margin-left: 16px;
    margin-bottom: 15px;
}
.read{
    font-weight: 700;
}
.read > i{
    font-weight: 700;
}

.col-md-2 > h5{
    margin-top: 15px;
    color: #FFF;
    font-weight: 200px;
}
/****************************************************
					rating Section
***************************************************/
#rating .hr-outer{
	padding-left: 170px;
	margin-left: 462px;
}
#rating{
	background: #F4F4F4;
	font-family: sans-serif;
}
#rating h5{
	color: #7db73f;
	font-family: sans-serif;
}
#rating .upper-para{
	margin-left: 374px;
	margin-right: 302px;
	margin-top: 30px;
}
#rating .imgs-client{
	width: 80px;
	height: 80px;
	margin:0 auto;
}
#rating .heading{
	font-size: 16px;
}
#rating .green-para{
	color: #7db73f;
	font-size: 12px;
}
#rating .quote-text{
	font-size: 12px;
	padding: 0 36px;
	line-height: 20px;
	font-family: sans-serif;
	color:black;
	padding-bottom: 63px;
}
#rating .card{
/*	z-index: 9999;*/
	background: #FFF;
/*	margin-right: 30px;*/
	
}
#rating .col-md-4{
	padding-left: 10px;
	padding-right: 5px;
}
#rating .book-button{
	position: absolute;
	top: -210%;
	right: 48%;
}

/****************************************************
					rating Part -2
***************************************************/
#rating-part-2{
	background: url("images/Home_section/background.jpg")no-repeat fixed center;
	background-size: cover;
	width: 100%;
	height: 200px;
	position: relative;
}

#overlay1{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
/*	z-index: 9999;*/
}
#rating-part-2 .overlay1-content{
/*	z-index: 999;*/
	color: #FFF;
	text-align: center;
	display: flex;
	align-items: center;
	align-content: center;
	padding-top: 35px;
}
/****************************************************
					CONTENT BOXES
***************************************************/
.content-box-lg{
	padding: 120px 0;
}
.content-box-md{
	padding: 100px 0;
}
.content-box-sm{
	padding: 90px 0;
}






.custom-center-text{
    text-align: center!important;
}
.custom-width{
    width: 100%;
}

.custom-margin-center{
    margin: 0 auto;
}

.custom-container{
    width: 1000px;
}
.custom-p-size{
    font-size: 15px;
}

