.footer-font{
    font-size: 12px;
    color: #8E8E8E;
}
.clr-green{
    color: #7DB73F;
}

.mg-bottom-30{
    margin-bottom: 30px;
}
.mg-bottom-15{
    margin-bottom: 15px;
}

.social-icons{
    font-size: 20px;
}

.mg-top-25{
    margin-top: 25px;
}







.booking{
/*    margin-top: 30px;*/
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.villas{
    width: 100%;
}
.villa{
    width: 700px !important;
    margin: 0 auto;
}
.card-text > span > i{
    color: #7DB73F;
    
}

.view{
    border-radius: 35px;
}

.avail{
    border-radius: 35px;
    color: black;
}

.pagination{
    margin: 30px auto;
    margin-bottom: 0;
}
.page-num{
    color: black;
    border: none;
    background: none;
    border: solid 2px #f1f1f1;
    border-radius: 50%;
    margin: 0 10px;
    padding: 6px 12px;
}

.page-num:hover{
    background-color: #7DB73F;
}    
.page-ctrl{
    color: white;
    background: #7DB73F;
    margin: 0 5px;
    border-radius: 30px !important;
    width: 100px;
    text-align: center;
    margin-bottom: 30px;
}
.page-ctrl:hover{
    color: white;
    background: #7DB73F;
}

.footer{
    width: 100%;
}
.footer-green{
    background: #7DB73F;
    width: 100%;
    height: 100px;
    text-align: center;
}
.footer-green-content{
    padding-top: 30px;
}
.news{
    display: inline-block;
/*    margin-top: 30px;*/
    margin-right: 50px;
}
.newsletter{
    color: #FFF;
    margin-right: 30px;
}

.newsletter > i{
    color: none;
}
.mail{
    display: inline-block;
/*    margin-top: 30px;*/
    margin-right: 50px;
}
.email{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #7DB73F;
    color: white;
    border: solid 0.1px rgba(255, 255, 255, 0.2);
    ::placeholder{
        color: rgba(255, 255, 255, 0.9);
    }
}
.sign{
    display: inline-block;
    margin-left: 30px;
}

.sign-btn{
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 500;
}

.footer-black{
    background-color: #212121;
    width: 100%;
/*    height: 100px;*/
}

.gallery-images{
    margin-left: 16px;
    margin-bottom: 15px;
}
.read{
    font-weight: 700;
}
.read > i{
    font-weight: 700;
}

.col-md-2 > h5{
    margin-top: 15px;
    color: #FFF;
    font-weight: 200px;
}