* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.gray{
    color: rgba(0,0,0,0.6)!important;
}
.hr-outer{
	width: 170px;
	height: 2px;
	background: #F1F1F1;
}
.hr-inner{
	width: 50px;
	height: 2px;
	background:#7db73f;
/*	z-index: 99;*/
}
.container-standard{
    width: 600px;
    margin: 0 auto;
}
.padding-small{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.icon-size{
    font-size: 24px;
}

.icon-size-small{
    font-size: 15px;
    color: rgba(255,255,255);
}

.white{
    color: rgba(255,255,255);
}
.relative{
    position: relative!important;
}
.sub-text{
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
.padding-large{
    padding: 59px;
}
.row{
    width: 100%!important;
}
.bold-text{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;

}

.container-lander {
    height: 700px;
}

.float-left {
    float: left;
}

.mt-6 {
    margin-top: 80px;
}

.ml-6 {
    margin-left: 50px;
}

text-decoration-none {
    text-decoration: none;
}

/*General Classes Started*/

.shadow-large-spread {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8)
}

.shadow-light-spread {
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3)
}

ul > li {
    list-style: none;
}

ul > li > a {
    font-family: 'Lato';
}

.center {
    margin: 0 auto;
}

.green-color{
    color: #7db73f;
}
.green {
    background-color: #7db73f;
}

.black {
    background-color: black;
}

.theme-player-property {
    font-family: 'Cedarville Cursive';
    color: #7db73f;
    font-size: 18px;
}

.white-text {
    color: white;
}

.highlight {
    content: '';
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 1.5px;
    background-color: #7db73f;

}

.button-green {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: #7db73f;
    border-radius: 34px;
    text-align: center;
    color: white;
    font-family: 'Lato';
}

.divider .highlight-one {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.divider .highlight-two {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.section-header {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
}

.button-black {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: black;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';
}

.divider {
    position: relative;
    margin-top: 120px;
    content: '';
    width: 120px;
    height: .8px;
    /*    background-color: black;*/

}

.button-white {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: white;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';

    display: inline-block;
    width: 75px;
    height: 27px;
    background-color: white;
    color: black;
    border-radius: 34px;
}

.button-border {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 120px;
    line-height: 30px;
    border-radius: 34px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Lato';
    border: solid .7px #7db73f;


}

.button-border:hover{
    background-color: #7db73f;
    color: white;
}
.text-deco-none{
    text-decoration: none;
}

/*General Classes Ended*/



/*Header Section CSS*/
.header {
    width: 100%;
    height: 60px;
    position: relative;
}

.navigation{
    margin-left: 220px;
}
.navigation > ul > li {
    display: inline-block;
    /*    width: 128px;*/
    height: 60px;
    /*    line-height: 60px;*/
    padding-left: 5px;
    padding-right: 5px;
    line-height: 60px;
}

.navigation > ul > li > a {
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.navigation > ul > li:hover {
    background-color: white;
    transition: all .2s ease-in;
    cursor: pointer;
}

.navigation > ul > li:hover a {
    color: black;
    transition: all .2s ease-in;
}

.logo {
    position: absolute;
    width: 180px;
    height: 110px;
    line-height: 100px;
    background-color: white;
    /*    margin: 25%;*/
}

.logo > img {
    position: absolute;
    top: 20%;
    left: 20%;
}

.phone > span {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #7db73f;
    width: 50px;
    height: 50px;
}

.number > span {
    display: inline-block;
    color: white;
}

.book-button {
    position: absolute;
    top: 13%;
    right: 15%;
}

.book-button:hover a {
    background-color: white;
    color: black;
    transition: all .2s ease-in;
}

.lander-page {
    position: relative;
    height: 700px;
}

.info-tab{
/*    padding: 30px;*/
    height: 160px;
    position: absolute;
    bottom: 0;
    width: 51.2%;
}

.header-txt{
    margin-top: 100px;
    margin-left: 50px;
    height: 130px;
}

.header-image{
    position: relative;
}
.header-image-over{
    position: absolute;
    top: 100px;
    right: 0;
}

.bg-img{
    width: 700px;
    height: 200px;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    top: 50px;
}

.off{
    position: absolute;
    top: 70%;
    bottom: 0;
}

.offers{
    width: 100%;
}
.offer{
    width: 500px !important;
    margin: 0 auto;
}
.img-text{
    position: absolute;
    top: 70%;
    left: 32%;
}
.sort{
    display: inline;
    margin-left: 24%;
}
.show{
    display: inline-block;
}

.search{
    display: inline-block;
}
.search-input{
    padding: 5px 10px;
    border: solid 1px rgba(0,0,0,0.2);
}