* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.no-padding-top{
    padding-top: 0!important;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute!important;
}
.mb-6{
    margin-bottom: 80px;
}
.custom-overlay{
    background-color: rgba(0,0,0,0.4);
}
.center-text{
    text-align: center;
}
.gray{
    color: rgba(0,0,0,0.6)!important;
}
.hr-outer{
	width: 170px;
	height: 2px;
	background: #F1F1F1;
}
.hr-inner{
	width: 50px;
	height: 2px;
	background:#7db73f;
/*	z-index: 99;*/
}
.container-standard{
    width: 600px;
    margin: 0 auto;
}
.padding-small{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.icon-size{
    font-size: 24px;
}

.icon-size-small{
    font-size: 15px;
    color: rgba(255,255,255);
}

.white{
    color: rgba(255,255,255);
}
.relative{
    position: relative!important;
}
.sub-text{
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
.padding-large{
    padding: 59px;
}
.row{
    width: 100%!important;
}
.bold-text{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;

}

.container-lander {
    height: 700px;
}

.float-left {
    float: left;
}

.mt-6 {
    margin-top: 80px;
}

.ml-6 {
    margin-left: 50px;
}

text-decoration-none {
    text-decoration: none;
}

/*General Classes Started*/

.shadow-large-spread {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8)
}

.shadow-medium-spread {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4)
}

.shadow-light-spread {
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3)
}

ul > li {
    list-style: none;
}

ul > li > a {
    font-family: 'Lato';
}

.center {
    margin: 0 auto;
}

.green-color{
    color: #7db73f!important;
}
.green {
    background-color: #7db73f;
}

.black {
    background-color: black;
}

.theme-player-property {
    font-family: 'Cedarville Cursive';
    color: #7db73f;
    font-size: 18px;
}

.white-text {
    color: white;
}

.highlight {
    content: '';
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 1.5px;
    background-color: #7db73f;

}

.button-green {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 150px;
    line-height: 30px;
    background-color: #7db73f;
    border-radius: 34px;
    text-align: center;
    color: white;
    font-family: 'Lato';
}

.button-green-small{
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 100px;
    line-height: 30px;
    background-color: #7db73f;
    border-radius: 34px;
    text-align: center;
    color: white;
    font-family: 'Lato';
}

.button-white-small{
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 100px;
    line-height: 30px;
    background-color: white;
    border-radius: 34px;
    text-align: center;
    color: black;
    font-family: 'Lato';
}

.button-green:hover{
    background-color: white;
    color: #7db73f;
}
.divider .highlight-one {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.divider .highlight-two {

    display: inline-block;
    content: '';
    width: 40px;
    height: .8px;
    background-color: black;
}

.section-header {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
}

.button-black {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: black;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';
}

.divider {
    position: relative;
    margin-top: 120px;
    content: '';
    width: 120px;
    height: .8px;
    /*    background-color: black;*/

}

.button-white {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    line-height: 30px;
    background-color: white;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato';

    display: inline-block;
    width: 75px;
    height: 27px;
    background-color: white;
    color: black;
    border-radius: 34px;
}

.button-border {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    width: 120px;
    line-height: 30px;
    border-radius: 34px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Lato';
    border: solid .7px #7db73f;


}

.button-border:hover{
    background-color: #7db73f;
    color: white;
}
.text-deco-none{
    text-decoration: none;
}

/*General Classes Ended*/



/*Header Section CSS*/
.header {
    width: 100%;
    height: 60px;
    position: relative;
}

.navigation{
    margin-left: 220px;
}
.navigation > ul > li {
    display: inline-block;
    /*    width: 128px;*/
    height: 60px;
    /*    line-height: 60px;*/
    padding-left: 5px;
    padding-right: 5px;
    line-height: 60px;
}

.navigation > ul > li > a {
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.navigation > ul > li:hover {
    background-color: white;
    transition: all .2s ease-in;
    cursor: pointer;
}

.navigation > ul > li:hover a {
    color: black;
    transition: all .2s ease-in;
}

.logo {
    position: absolute;
    width: 180px;
    height: 110px;
    line-height: 100px;
    background-color: white;
    /*    margin: 25%;*/
}

.logo > img {
    position: absolute;
    top: 20%;
    left: 20%;
}

.phone > span {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #7db73f;
    width: 50px;
    height: 50px;
}

.number > span {
    display: inline-block;
    color: white;
}

.book-button {
    position: absolute;
    top: 13%;
    right: 9%;
}

.book-button:hover a {
    background-color: white;
    color: black;
    transition: all .2s ease-in;
}

.lander-page {
    position: relative;
    height: 700px;
}

.info-tab{
/*    padding: 30px;*/
    height: 160px;
    position: absolute;
    bottom: 0;
    width: 51.2%;
}

.special-quote{
    width: 100%;
    height: 80px;
    border-left: solid 3px #7db73f;
}

.enquiry-form-card{
    padding: 40px;
}

.enquiry-title{
    text-align: center; 
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.highlight-section{
    position: relative;
    height: 700px;
}

.custom-overlay{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 700px;
    background-color: rgba(0,0,0,0.8); 
}

.highlight-inner-image{
    position: absolute;
    left: 10%;
    width: 430px;
    height: 600px;
    
}

.margin-custom{
/*    margin-left: 10px;*/
/*    width: 644.500px;*/
    margin-top: 50px;
}
.property-highlight{
    top: 30%;
}

.amenity-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius:50%;
    border: solid 2px #7db73f;
    text-align: center;
}

.amenity-text{
    width: 200px;
}
.amenity-icon > span{
    color: white;
    line-height: 45px;
}

.tabs{
    width: 100%;
    height: 70px;
}